/* CONFIGURACIÓN GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfaf5; /* Color crema de la página */
}

/* CABECERA: Fondo igualado al logo */
.cabecera {
    background-color: #fdfaf5; /* ESTE ES EL SECRETO: El mismo color que el fondo de tu logo */
    border-bottom: 5px solid #345e35;
    height: 180px;
    display: flex;
    align-items: center;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

/* IZQUIERDA: Icono apoyado en la línea */
.bloque-menu {
    flex: 1;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.menu-icono {
    position: relative;
    margin-bottom: -25px; /* Empuja el icono para que pise la línea verde */
    z-index: 10;
}

.img-icono {
    width: 70px;
    height: 70px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #345e35;
    cursor: pointer;
}

/* MENÚ DESPLEGABLE */
.menu-desplegable {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: rgb(240, 226, 204);
    min-width: 220px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.menu-desplegable a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.menu-icono:hover .menu-desplegable {
    display: block;
}

/* CENTRO: El Logo */
.bloque-logo {
    flex: 2;
    display: flex;
    justify-content: center;
}

.imagen-logo {
    height: 290px; /* Tamaño grande para legibilidad */
    width: auto;
    object-fit: contain;
    margin-bottom: -150px;
}

/* DERECHA: Registro */
.bloque-registro {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding-top: 30px;
}

.boton-registro {
    background-color: #b16a29;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}