<!-- Digitalizacion.html realizado por Xabier Iglesias -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroLab</title>
    <link rel="stylesheet" href="../static/CSS-Pagina_Web/style.css">
</head>
<body>

<header class="cabecera">
    <nav class="barra-navegacion">
        
        <div class="bloque-menu">
            <div class="menu-icono">
                <img src="../static/Imagenes/tenedor_cuchara.avif" alt="Menú" class="img-icono">
                <div class="menu-desplegable">
                    <a href="{{url_for('Pagina_Principal')}}">Página Principal</a>
                    <a href="{{url_for('who_we_are')}}">Quiénes Somos</a>
                    <a href="{{url_for('La_Comanda')}}">Red Social "La Comanda"</a>
                    <a href="{{url_for('soste')}}">Plan de Sostenibilidad</a>
                    {% if not session.get('correo') %}
                        <a href="{{url_for('registro')}}">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="bloque-logo">
            <img src="../static/Imagenes/Logo.png" alt="GastroLab" class="imagen-logo">
        </div>
        <div class="bloque-registro">
            {% if not session.get('correo') %}
                <div class="boton-registro">
                    <a href="{{url_for('registro')}}" class="boton-registro">Registrarse</a>
                </div>
            {% else %}
                <div class="boton_cierre_sesion">
                        <p>Estás conectado como: <b>{{ session['correo'] }}</b><br>
                    (Rol: {{session['tipo_usuario']}})</p><br>
                    <a class="texto_cerrar_sesion" href="{{url_for('logout')}}">Cerrar sesión</a>
                </div>
            {% endif %}
        </div>

    </nav>
</header>
<main>
    <div>
        <h1 class="h1">Plan de Digitalización GastroLab</h1>
        <p><b>Proyecto: Transformación Digital de GastroLab (Reto Profesional) Ciclo: 1º Grado superior DAM </b><br>
            - Asignatura: Digitalización Grupo: 5 - Musaraña Elefante <br>
            Integrantes: Aroa Hernández, Ibai Lopez, Xabier Iglesias <br>
        </p>

        <h2 class="h2">BRANDING (Imagen de Marca)</h2>
        <h3 class="h3">Definición de la identidad antes de la digitalización.</h3>
        <p>Antes de que se digitalizaran los procesos, la identidad de GastroLab era que nos centraremos en atraer y formar a alumnos de nuestra provincia, <br>
            también nos centraremos en no formar a técnicos sino que formamos a personas con los valores que debe tener cualquier profesional y nos centraremos <br>
            en cuidar el producto que después transformamos en platos desde que son semillas hasta que lo servimos. 
        </p>
        <div class="texto_img">
            <div class="texto_izq">
                <ul>
                    <li><b>Nombre de la Empresa:</b></li>
                    <p>GastroLab</p><br>
                    <li><b>Eslogan (y justificación): </b></li>
                    <p>Donde la pasión se convierte en profesión</p><br>
                    <li><b>Logotipo (descripción o imagen):</b></li>
                </ul>
            </div>
            <div class="img_cent">
                <img src="../static/Imagenes/Logo.png" alt="GastroLab" style="width: 175px;">
            </div>
            <div class="texto_drch">
            <p>
                <b>Psicología del Color:</b> <br>
                Hemos escogido estos colores terrenales: primero para dejar claro que <br>
                no solo enseñamos cocina sino que también enseñamos agricultura <br>
                (Los principales productos de nuestras cocinas), <br>
                y segundo para dejar claro nuestro compromiso con el medio ambiente. 
            </p>
            </div>
        </div>
        
        <div class="texto_izq1">
            <h2 class="h2">ANÁLISIS PRELIMINAR</h2>
            <h3 class="h3">Diagnóstico Interno</h3>
            <h4 class="h1">Identificad entre 7 y 10 carencias (ej: sin presencia online, falta de formación).</h4>
            <ol>
                <li>Falta de presencia digital</li>
                <li>Baja visibilidad dentro del sector</li>
                <li>Dificultad para diferenciarnos de la competencia.</li>
                <li>Baja participación en eventos gastronómicos</li>
                <li>Dependencia del clima</li>
                <li>Poca capacidad de previsión</li>
                <li>Poca experiencia frente a otras grandes escuelas culinarias <br>
                    como Basque Culinary Center (Menor Trayectoria)</li>
                <li>La resistencia de los profesores a adaptarse a un entorno digital <br>
                    (puesto que están acostumbrados a lo tradicional)</li>
                <li>El programa de becas que tenemos previsto depende demasiado de las ayudas públicas.</li>
            </ol>
            
            <table>
                <tr>
                    <th>Diagnóstico (Carencia)</th>
                    <th>Propuesta Solución</th>
                    <th>Objetivo PTD</th>
                </tr>
                <tr>
                    <td>Falta de presencia digital</td>
                    <td><ul><li>Crearemos una página web en la <br>
                        que iremos subiendo nuestras recetas, <br>
                        también una red social para <br>
                        promover la empresa.</li>
                    <li>También crearemos una cuenta en <br>
                        instagram en la que compartiremos <br>
                        los progresos de nuestros <br>
                        alumnos en cocina</li></ul></td>
                    <td><ul><li>Aumentar la visibilidad y alcanzar <br>
                        al menos un 30% más de<br>
                        alumnos interesados en nuestro <br>
                        centro gastronómico.</li>
                    <li>Atraer a más gente que quiera <br>
                        formarse en el ámbito culinario y atraer<br>
                        a más gente a nuestro restaurante en el <br>
                        que se forman nuestros alumnos.</li></ul></td>
                </tr>
                <tr>
                    <td>Baja visibilidad dentro del sector</td>
                    <td><ul><li>Crearemos eventos en el centro a <br>
                        puertas abiertas para enseñar lo<br>
                        que hacemos y así atraer público.</li>
                    <li>Para eso hemos creado nuestra <br>
                        propia red social de recetas <br>
                        llamada La Comanda y hemos <br>
                        creado una cuenta en instagram.</li></ul></td>
                    <td><ul><li>Incrementar el número de personas <br>
                        que visitan nuestro <br>
                        centro gastronómico.</li>
                    <li>Atraer a nuevos posibles alumnos y <br>
                        comensales a nuestras instalaciones.</li></ul></td>
                </tr>
                <tr>
                    <td>Dificultad para diferenciarnos de <br>
                        la competencia</td>
                    <td>Diferenciarnos ofreciendo algún valor <br>
                        que otros competidores no puedan <br>
                        igualar fácilmente.</td>
                    <td>Convertirse en un referente local <br>
                        y aumentar la tasa de alumnos <br>
                        que continúen con nosotros un 25%</td>
                </tr>
                <tr>
                    <td>Baja participación en eventos <br>
                        gastronómicos</td>
                    <td>Participaremos en actividades conjuntas <br>
                        con más negocios para tener la <br>
                        probabilidad de participar en más eventos</td>
                    <td>Participar en al menos 5 eventos <br>
                        gastronómicos al año.</td>
                </tr>
                <tr>
                    <td>Dependencia del clima</td>
                    <td>En el huerto, tendremos una sección <br>
                        con invernaderos.</td>
                    <td>Reducir en un 50% la pérdida <br>
                        de producción por factores climáticos.</td>
                </tr>
                <tr>
                    <td>Poca capacidad de previsión</td>
                    <td>Tendremos un número de plazas <br>
                        establecido para todos los cursos.</td>
                    <td>Optimizar la ocupación de los <br>
                        cursos alcanzando un 90% de <br>
                        plazas cubiertas.</td>
                </tr>
                <tr>
                    <td>Poca experiencia frente a <br>
                        otras grandes escuelas culinarias <br>
                        como Basque Culinary Center </td>
                    <td>Potenciar una oferta formativa única <br>
                        basada en cultivo propio, cocina saludable <br>
                        y dietética aplicada para diferenciarse <br>
                        de los grandes centros.</td>
                    <td>Digitalizar el catálogo de cursos <br>
                        con una plataforma online que muestre <br>
                        el valor diferencial y aumente la <br>
                        visibilidad frente a competidores mayores.</td>
                </tr>
            </table>
            <h2 class="h2">CULTURA DIGITAL</h2>
            <h3 class="h3">Cambiando la mentalidad del equipo.</h3>
            <p>Para cambiar la mentalidad del equipo hay que dejar claro que la digitalización es una herramienta para facilitar los procesos <br>
                y ser más eficientes en las labores de cada uno. <br>
                Está claro que da miedo el cambio pero si tu a una persona le dices que podrás meter unos parámetros en una aplicación para que la huerta <br>
                de la sección A se riega con las condiciones que tu le programes, entonces se dará cuenta de todo el esfuerzo del que se va a librar.
            </p>
            <h3 class="h3">Concienciación (Argumentario)</h3>
            <h4 class="h1">Argumentos persuasivos contra las objeciones de los empleados:</h4>
            <p>
            <ul>
                <li><b>Juan (Redes sociales): </b> Las redes sociales nos pueden servir para hacer pública nuestra imagen a nivel mundial, y atraer a nuevos alumnos, <br>
                    interesados en trabajar en hostelería o en el sector agrícola. También atraeremos a más comensales a nuestro restaurante Raíz & Aula mostrando imágenes <br>
                    suculentas de platos preparados por nuestros alumnos. </li>
                <li><b>María (Miedo al despido): </b> El valor está en las personas: la experiencia, los valores y el conocimiento práctico. La IA no puede reemplazar eso. <br>
                    Al usar la IA puedes aprender nuevos conocimientos que de esta manera aumenta la importancia dentro del equipo. Por eso debemos aprender a utilizar la <br>
                    herramienta que es la IA para mejorar y ser más eficientes.</li>
                <li><b>Javier (Dificultad técnica): </b>No es necesario dominar ni saber de todo en poco tiempo, para ello nuestra empresa da el tiempo que se ve necesario para <br>
                    impartir clases y repetir explicaciones para que vayan aprendiendo con una buena base y procurar que salgan de nuestro centro con buenos conocimientos. <br>
                    Una buena base es importante para poder crecer como profesional de cara al futuro. <br>
                    Si te refieres a la dificultad técnica de los nuevos procesos digitales, procuraremos formar a los profesores de manera intensa procurando que nadie se quede atrás.</li>
                <li><b>Sonia (Sustitución): </b> La IA no puede cocinar, ni transmitir pasión por la gastronomía o la agricultura. Nuestros maestros son los primeros que saben <br>
                    transmitir su pasión por lo que enseñan y los alumnos disfrutan de sus lecciones haciendo que aprendan más.</li>
            </ul>  
            </p>
        </div>
    </div>
</main>
<footer>
    <a href="https://www.instagram.com/gastrolabkm0/" target="_blank">
        <img src="../static/Imagenes/logotipo-instagram_1199-122.avif" alt="Instagram" style="width: 30px; vertical-align: middle;">
    </a>
</footer>
</body>
