<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Company Form</title>
  <link rel="stylesheet" href="../static/CSS-Pagina_Web/style.css">
</head>
<body>

    <header class="cabecera">
    <nav class="barra-navegacion">
        
        <div class="bloque-menu">
            <div class="menu-icono">
                <img src="../static/Imagenes/tenedor_cuchara.avif" alt="Menú" class="img-icono">
                <div class="menu-desplegable">
                    <a href="{{url_for('Pagina_Principal')}}">Página principal</a>
                    <a href="#">Quiénes Somos</a>
                    <a href="#">Plan de Digitalización</a>
                    <a href="#">Plan de Sostenibilidad</a>
                    <a href="#">Registrarse</a>
                </div>
            </div>
        </div>

        <div class="bloque-logo">
            <img src="../static/Imagenes/Logo.png" alt="GastroLab" class="imagen-logo">
        </div>

        <div class="bloque-registro">
            <a href="#" class="boton-registro">Registrarse</a>
        </div>

    </nav>
    </header>
    
    <main>

        <div class="Formulario">
            <h2>Añadir Receta</h2>

            <form action="" method="post">
                <div class="Sections">
                    <label for="nombre_receta">Nombre de la Receta:</label><br>
                    <input type="text" id="nombre_receta" name="nombre_receta" placeholder="Nombre Receta" required><br><br>

                    <label for="Num_ingredientes">¿Cuántos ingredientes tiene tu receta?</label><br>
                    <input type="number" id="Num_ingredientes" name="Num_ingredientes" required min="1" max="25" oninput="generarCampos()"><br><br>

                    <label for="Num_pasos">¿Cuántos pasos tiene tu receta?</label><br>
                    <input type="number" id="Num_pasos" name="Num_pasos" min="1" max="30" oninput="generarPasos()" ><br><br>

                    <!-- Apartado de alergenos-->
                    <label for="alergenos">Alergenos:</label> <br>
                    Gluten <input type="checkbox" name="Gluten">
                    Lacteos <input type="checkbox" name="Lacteos">
                    Frutos secos <input type="checkbox" name="Frutos_secos">
                    <br>Cacahuete <input type="checkbox" name="Cacahuete">
                    Pescado <input type="checkbox" name="Pescado">
                    Crustaceos <input type="checkbox" name="Crustaceos">
                    <br>Moluscos <input type="checkbox" name="Moluscos">
                    Huevos <input type="checkbox" name="Huevos">
                    Soja <input type="checkbox" name="Soja">
                    Apio <input type="checkbox" name="Apio">
                    <br>Mostaza <input type="checkbox" name="Mostaza">
                    Sesamo <input type="checkbox" name="Sesamo">
                    Sulfitos <input type="checkbox" name="Sulfitos">
                    Altramuz <input type="checkbox" name="Altramuz">

                    <!-- 
                    Opciones vegatariano y Vegano
                    
                    <br><label>¿La receta es vegetariana?</label><br>
                    Si <input type="radio" name="vegetariano" value="si">
                    No <input type="radio" name="vegetariano" value="no"> <br><br>

                    <label>¿La receta es vegana?</label><br>
                    Si <input type="radio" name="vegana" value="si">
                    No <input type="radio" name="vegana" value="no"> <br><br>
                    -->
                </div>

                <div class="Sections">
                    <h3>Ingredientes</h3>
                    <p>Añade Ingredientes y sus cantidades:</p>
                    <div id="contenedor_ingredientes" required></div>
                </div>

                <div class="Sections">
                    <h3>Pasos</h3>
                    <div id="contenedor_pasos" required></div>
                </div>

                <br><button type="submit" style="background-color: rgb(102, 127, 70); border: solid rgb(76, 101, 61);">Guardar Receta</button>
            </form>
        </div>
    </main>
    <script src="../static/Script/Form_script.js"> </script>
</body>
</html>