<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroLab</title>
    <link rel="stylesheet" href="../CSS-Pagina_Web/style.css">
</head>
<body>

    <header class="cabecera">
    <nav class="barra-navegacion">
        
        <div class="bloque-menu">
            <div class="menu-icono">
                <img src="../Imagenes/tenedor_cuchara.avif" alt="Menú" class="img-icono">
                <div class="menu-desplegable">
                    <a href="#">Quiénes Somos</a>
                    <a href="#">Red Social "La Comanda"</a>
                    <a href="#">Plan de Digitalización</a>
                    <a href="#">Plan de Sostenibilidad</a>
                    <a href="#">Registrarse</a>
                </div>
            </div>
        </div>

        <div class="bloque-logo">
            <img src="../Imagenes/Logo.png" alt="GastroLab" class="imagen-logo">
        </div>

        <div class="bloque-registro">
            <a href="#" class="boton-registro">Registrarse</a>
        </div>

    </nav>
</header>
<main>
    <h1>Estudia con nosotros</h1>
    <ul>
        <li>Agricultura</li>
        <li>Repostería</li>
        <li>Cocina y gastronomía</li>
        <li>Dietética</li>
        <li>Dirección de cocina</li>
    </ul>

</main>

    </body>
</html>