<!-- Pagina_Principal.html realizado por Ibai y Xabier Iglesias -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroLab</title>
    <link rel="stylesheet" href="../static/CSS-Pagina_Web/style.css">
</head>
<body>

    <header class="cabecera">
    <nav class="barra-navegacion">
        
        <div class="bloque-menu">
            <div class="menu-icono">
                <img src="../static/Imagenes/tenedor_cuchara.avif" alt="Menú" class="img-icono">
                <div class="menu-desplegable">
                    <a href="#">Quiénes Somos</a>
                    <a href="{{ url_for('login') }}">Red Social "La Comanda"</a>
                    <a href="#">Plan de Digitalización</a>
                    <a href="#">Plan de Sostenibilidad</a>
                    <a href="{{ url_for('registro') }}">Registrarse</a>
                </div>
            </div>
        </div>

        <div class="bloque-logo">
            <img src="../static/Imagenes/Logo.png" alt="GastroLab" class="imagen-logo">
        </div>

        <div class="bloque-registro">
            <a href="{{ url_for('registro') }}" class="boton-registro">Registrarse</a>
        </div>

    </nav>
</header>
<main class="estudia_cursos">
    <h1 class="titulo_cursos">Estudia con nosotros</h1>
        <div class="todos_cursos">
            
            {#
                Se crea una lista de los cursos para añadir cada curso para
                evitar duplicacion de los cursos por cada asignatura
            #}

            {% set lista_cursos = [None] %}
            {% for curso in cursos %}
                {% if curso.nombre_curso not in lista_cursos %}

                    {#
                        Se crea una variable para añadir a la lista cada
                        curso con el set añadir_curso y he tenindo que 
                        consultar la IA para evitar que se duplique los
                        cursos por cada registro de la base de datos
                    #}

                    {% set añadir_curso = lista_cursos.append(curso.nombre_curso) %}
                
                    <section class="curso_entero">
                        <div class="asignaturas">
                            <h2>{{ curso.nombre_curso }}</h2>
                            <ul>
                                <li><h3>Primer curso</h3></li>
                                <ul>
                                    {% for primer_curso in cursos %}
                                        {% if primer_curso.nombre_curso == curso.nombre_curso and primer_curso.año_curso == 1 %}
                                            <li>{{ primer_curso.nombre_asignatura }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <li><h3>Segundo curso</h3></li>
                                <ul>
                                    {% for segundo_curso in cursos %}
                                        {% if segundo_curso.nombre_curso == curso.nombre_curso and segundo_curso.año_curso == 2 %}
                                            <li>{{ segundo_curso.nombre_asignatura }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </ul>
                        </div>
                        <div class="imagen_asignatura">
                            {% if curso.nombre_curso == "Agricultura" %}
                                <img src="../static/Imagenes/agricultura.jpg" alt="Agricultura">
                            {% elif curso.nombre_curso == "Panadería, Repostería y Confitería" %}
                                <img src="../static/Imagenes/panes-pasteleria.jpg" alt="Panadería">
                            {% elif curso.nombre_curso == "Cocina y Gastronomía" %}
                                <img src="../static/Imagenes/cocina.jpg" alt="Cocina">
                            {% elif curso.nombre_curso == "Dietética" %}
                                <img src="../static/Imagenes/dietetica.jpg" alt="Dietética">
                            {% elif curso.nombre_curso == "Dirección de Cocina" %}
                                <img src="../static/Imagenes/direccion-cocina.jpg" alt="Dirección">
                            {% endif %}
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        </div>
</main>

    </body>
</html>