<!-- Who_we_are.html realizado por Xabier Iglesias e Ibai -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroLab</title>
    <link rel="stylesheet" href="../static/CSS-Pagina_Web/style.css">
</head>
<body>

    <header class="cabecera">
    <nav class="barra-navegacion">
        
        <div class="bloque-menu">
            <div class="menu-icono">
                <img src="../static/Imagenes/tenedor_cuchara.avif" alt="Menú" class="img-icono">
                <div class="menu-desplegable">
                    <a href="{{url_for('Pagina_Principal')}}">Página principal</a>
                    <a href="{{url_for('La_Comanda')}}">Red Social "La Comanda"</a>
                    <a href="#">Plan de Digitalización</a>
                    <a href="#">Plan de Sostenibilidad</a>
                    {% if not session.get('correo') %}
                        <a href="{{url_for('registro')}}">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="bloque-logo">
            <img src="../static/Imagenes/Logo.png" alt="GastroLab" class="imagen-logo">
        </div>
        <div class="bloque-registro">
            {% if not session.get('correo') %}
                <div class="boton-registro">
                    <a href="{{url_for('registro')}}" class="boton-registro">Registrarse</a>
                </div>
            {% else %}
                <div class="boton_cierre_sesion">
                        <p>Estás conectado como: <b>{{ session['correo'] }}</b><br>
                    (Rol: {{session['tipo_usuario']}})</p><br>
                    <a class="texto_cerrar_sesion" href="{{url_for('logout')}}">Cerrar sesión</a>
                </div>
            {% endif %}
        </div>

    </nav>
</header>

<main class="estudia_cursos">
    <h1 class="titulo_cursos">{{ titulo }}</h1>         
        <section class="curso_entero">
            <div class="asignaturas">                        
                <p>{{ texto }}</p>
                <form method="post">
                    <button type="submit" name="idioma" value="{{ proximo_idioma }}">{{ boton }}</button>
                </form>    
            </div>
            <div class="imagen_asignatura">
                <img src="../static/Imagenes/who_we_are.jpeg" alt="Panadería">
            </div>
        </section>
</main>